[run]
branch = True
source = .
relative_files = True

omit =
    .venv/*
    */migrations/*
    */tests.py
    */test_*.py
    manage.py
    task_manager/asgi.py
    task_manager/wsgi.py

[report]
show_missing = True
skip_empty = True

[xml]
output = coverage.xml
