{% extends "base.html" %}

{% block title %}
  Менеджер задач
{% endblock %}

{% block content %}
  <div
    class="
      bg-body-tertiary
      p-5
      rounded-3
    "
  >
    <div class="container-fluid py-3">
      <h1 class="display-5 fw-bold">
        Привет от Хекслета!
      </h1>

      <p class="col-md-8 fs-4">
        Практические курсы по программированию
      </p>

      <a
        class="btn btn-primary btn-lg"
        href="https://hexlet.io"
        role="button"
      >
        Узнать больше
      </a>
    </div>
  </div>
{% endblock %}
